html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* =10px */
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: var(--fuentePrincipal);
    /* =16px */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

h1,
h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1rem;
}

img {
    display: block;
}