.formacion__img {
    width: 100%;
    height: 25%;
    display: block;
}
.formacion__img.alura {
    object-fit: cover;
    height: 20rem;
}
@media (min-width: 526px) {
    .formacion__img.alura {
        height: 30rem;
    }
}

@media (min-width: 768px) {
    .formacion__img {
        width: 100%;
        height: 50%;
    }

    .formacion__img.alura {
        height: 50%;
    }
}

@media (min-width: 1024px) {
    .formacion__img {
        height: 20rem;
    }
}