.forma-contacto__link {
    color: #fff;
    display: flex;
    gap: 6rem;
    flex-direction: row-reverse;
    justify-content: space-between;

    font-weight: bold;
    font-size: 1.8rem;
}
.forma-contacto__link::before {
    content: '';
    background: url(../../img/icons/arrow_back_black_24dp\ 1.svg) no-repeat center top -.7rem/ 3rem;
    width: 2rem;
    height: 2rem;
    display: block;
}